body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #b4b3b3;
    display: flex;
    align-items: center;
}

header {
    background-color: #333; /* Cor de fundo preta */
    color: #fff; /* Cor do texto branca */
    text-align: center;
    padding: 2em;
    font-family: Georgia, Times, 'Times New Roman', serif;
    width: 100vw; /* Estende por todo o viewport width */
    box-sizing: border-box; /* Evita que o padding aumente a largura */
}
#btnSair{
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 70px;
    padding: 10px;
    cursor: pointer;
}
#btnSair:hover{
    transform: scale(1.08);
    background-color: #c7c7c7;
}